@model FarmDBV2.Models.AccountSubType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AccountSubType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcctSubType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcctSubType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SortOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SortOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType.AccountType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType.AccountType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AcctSubTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
